In [1]:
import pandas as pd
import re
import numpy as np
!pip install matplotlib
import matplotlib

In [30]:
dffull = pd.read_csv('../../../Ironhack-Module-1-Project-Mecaho/data/raw/dffull.csv')
dffull.head()

,id,name,position,Unnamed: 0,id.1,lastName,age,Unnamed: 0.1,gender,country,...,Source_x,worth,worthChange,realTimeWorth,realTimePosition,rank_pop,population,weight_wpopulation,date,Source_y
0,5447,warren BUFFETT,3.0,54,5447,bufFETT,87 years old,54,None,United States,...,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,NaN,3,3,"330,529,481",4.26%,4 Jan 2020,National population clock
1,4319,cHARLES koch,8.0,59,4319,kOCH,82 years old,59,None,United States,...,Diversified ==> Koch Industries,60.0 BUSD,0.0 millions USD,NaN,12,3,"330,529,481",4.26%,4 Jan 2020,National population clock
2,9535,michael BLOOMBERG,11.0,62,9535,blooMBErg,76 years old,62,Male,United States,...,Media & Entertainment ==> Bloomberg LP,50.0 BUSD,0.0 millions USD,NaN,11,3,"330,529,481",4.26%,4 Jan 2020,National population clock
3,8245,lARRY Page,12.0,63,8245,paGE,45 years old,63,None,United States,...,Technology ==> Google,48.8 BUSD,0.0 millions USD,NaN,9,3,"330,529,481",4.26%,4 Jan 2020,National population clock
4,1741,seRGEY Brin,13.0,64,1741,bRIN,44 years old,64,M,United States,...,Technology ==> Google,47.5 BUSD,0.0 millions USD,NaN,10,3,"330,529,481",4.26%,4 Jan 2020,National population clock

# Start cleaning

In [31]:
def del_null(df):

    null_cols = df.isnull().sum()/len(df)*100
    null_cols[null_cols>0]
    threshold = 40
    null_filter = null_cols > threshold
    drop_cols = list(null_cols[null_filter].index)
    df.drop(drop_cols, axis=1, inplace=True)

#Apply to:
del_null(dffull)
dffull.head()

,id,name,position,Unnamed: 0,id.1,lastName,age,Unnamed: 0.1,gender,country,...,Unnamed: 0.2,Source_x,worth,worthChange,realTimePosition,rank_pop,population,weight_wpopulation,date,Source_y
0,5447,warren BUFFETT,3.0,54,5447,bufFETT,87 years old,54,None,United States,...,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,3,3,"330,529,481",4.26%,4 Jan 2020,National population clock
1,4319,cHARLES koch,8.0,59,4319,kOCH,82 years old,59,None,United States,...,59,Diversified ==> Koch Industries,60.0 BUSD,0.0 millions USD,12,3,"330,529,481",4.26%,4 Jan 2020,National population clock
2,9535,michael BLOOMBERG,11.0,62,9535,blooMBErg,76 years old,62,Male,United States,...,62,Media & Entertainment ==> Bloomberg LP,50.0 BUSD,0.0 millions USD,11,3,"330,529,481",4.26%,4 Jan 2020,National population clock
3,8245,lARRY Page,12.0,63,8245,paGE,45 years old,63,None,United States,...,63,Technology ==> Google,48.8 BUSD,0.0 millions USD,9,3,"330,529,481",4.26%,4 Jan 2020,National population clock
4,1741,seRGEY Brin,13.0,64,1741,bRIN,44 years old,64,M,United States,...,64,Technology ==> Google,47.5 BUSD,0.0 millions USD,10,3,"330,529,481",4.26%,4 Jan 2020,National population clock

In [32]:
def replace(df, col, old_v, new_v):
    df[col] = df[col].replace(old_v, new_v)
    return df

#Apply to:
#replace(dffull, 'age', 'nan', 9999)
replace(dffull, 'gender', 'M', 'Male')
replace(dffull, 'gender', 'F', 'Female')
dffull.head()

,id,name,position,Unnamed: 0,id.1,lastName,age,Unnamed: 0.1,gender,country,...,Unnamed: 0.2,Source_x,worth,worthChange,realTimePosition,rank_pop,population,weight_wpopulation,date,Source_y
0,5447,warren BUFFETT,3.0,54,5447,bufFETT,87 years old,54,None,United States,...,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,3,3,"330,529,481",4.26%,4 Jan 2020,National population clock
1,4319,cHARLES koch,8.0,59,4319,kOCH,82 years old,59,None,United States,...,59,Diversified ==> Koch Industries,60.0 BUSD,0.0 millions USD,12,3,"330,529,481",4.26%,4 Jan 2020,National population clock
2,9535,michael BLOOMBERG,11.0,62,9535,blooMBErg,76 years old,62,Male,United States,...,62,Media & Entertainment ==> Bloomberg LP,50.0 BUSD,0.0 millions USD,11,3,"330,529,481",4.26%,4 Jan 2020,National population clock
3,8245,lARRY Page,12.0,63,8245,paGE,45 years old,63,None,United States,...,63,Technology ==> Google,48.8 BUSD,0.0 millions USD,9,3,"330,529,481",4.26%,4 Jan 2020,National population clock
4,1741,seRGEY Brin,13.0,64,1741,bRIN,44 years old,64,Male,United States,...,64,Technology ==> Google,47.5 BUSD,0.0 millions USD,10,3,"330,529,481",4.26%,4 Jan 2020,National population clock

In [33]:
def dupli_c (df):
    df = df.loc[:,~df.columns.duplicated()]    
    return df 

dupli_c(dffull)
dffull.head()

,id,name,position,Unnamed: 0,id.1,lastName,age,Unnamed: 0.1,gender,country,...,Unnamed: 0.2,Source_x,worth,worthChange,realTimePosition,rank_pop,population,weight_wpopulation,date,Source_y
0,5447,warren BUFFETT,3.0,54,5447,bufFETT,87 years old,54,None,United States,...,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,3,3,"330,529,481",4.26%,4 Jan 2020,National population clock
1,4319,cHARLES koch,8.0,59,4319,kOCH,82 years old,59,None,United States,...,59,Diversified ==> Koch Industries,60.0 BUSD,0.0 millions USD,12,3,"330,529,481",4.26%,4 Jan 2020,National population clock
2,9535,michael BLOOMBERG,11.0,62,9535,blooMBErg,76 years old,62,Male,United States,...,62,Media & Entertainment ==> Bloomberg LP,50.0 BUSD,0.0 millions USD,11,3,"330,529,481",4.26%,4 Jan 2020,National population clock
3,8245,lARRY Page,12.0,63,8245,paGE,45 years old,63,None,United States,...,63,Technology ==> Google,48.8 BUSD,0.0 millions USD,9,3,"330,529,481",4.26%,4 Jan 2020,National population clock
4,1741,seRGEY Brin,13.0,64,1741,bRIN,44 years old,64,Male,United States,...,64,Technology ==> Google,47.5 BUSD,0.0 millions USD,10,3,"330,529,481",4.26%,4 Jan 2020,National population clock

In [34]:
def drop_c(df, x):
        df.drop([x], axis=1, inplace=True)
        return df
    
#Apply to:
drop_c(dffull, 'Unnamed: 0')
drop_c(dffull, 'Unnamed: 0.1')
drop_c(dffull, 'Unnamed: 0.2')
drop_c(dffull, 'id')
drop_c(dffull, 'id.1')
drop_c(dffull, 'id.2')
drop_c(dffull, 'realTimePosition')
drop_c(dffull, 'Source_y')
dffull.head()

,name,position,lastName,age,gender,country,image,Source_x,worth,worthChange,rank_pop,population,weight_wpopulation,date
0,warren BUFFETT,3.0,bufFETT,87 years old,None,United States,https://specials-images.forbesimg.com/imageser...,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,3,"330,529,481",4.26%,4 Jan 2020
1,cHARLES koch,8.0,kOCH,82 years old,None,United States,https://specials-images.forbesimg.com/imageser...,Diversified ==> Koch Industries,60.0 BUSD,0.0 millions USD,3,"330,529,481",4.26%,4 Jan 2020
2,michael BLOOMBERG,11.0,blooMBErg,76 years old,Male,United States,https://specials-images.forbesimg.com/imageser...,Media & Entertainment ==> Bloomberg LP,50.0 BUSD,0.0 millions USD,3,"330,529,481",4.26%,4 Jan 2020
3,lARRY Page,12.0,paGE,45 years old,None,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Google,48.8 BUSD,0.0 millions USD,3,"330,529,481",4.26%,4 Jan 2020
4,seRGEY Brin,13.0,bRIN,44 years old,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Google,47.5 BUSD,0.0 millions USD,3,"330,529,481",4.26%,4 Jan 2020

In [39]:
def rename_c(df, old, new):
    df.rename(columns={old: new}, inplace=True)
    return df
rename_c(dffull, 'lastName', 'last_name')
rename_c(dffull, 'Source_x', 'source')
rename_c(dffull, 'worthChange', 'worth_change')
dffull.head()

,name,position,last_name,age,gender,country,image,source,worth,worth_change,rank_pop,population,weight_wpopulation,date
0,Warren Buffett,3.0,Buffett,87 years old,None,United States,https://specials-images.forbesimg.com/imageser...,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,3,"330,529,481",4.26%,4 Jan 2020
1,Charles Koch,8.0,Koch,82 years old,None,United States,https://specials-images.forbesimg.com/imageser...,Diversified ==> Koch Industries,60.0 BUSD,0.0 millions USD,3,"330,529,481",4.26%,4 Jan 2020
2,Michael Bloomberg,11.0,Bloomberg,76 years old,Male,United States,https://specials-images.forbesimg.com/imageser...,Media & Entertainment ==> Bloomberg LP,50.0 BUSD,0.0 millions USD,3,"330,529,481",4.26%,4 Jan 2020
3,Larry Page,12.0,Page,45 years old,None,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Google,48.8 BUSD,0.0 millions USD,3,"330,529,481",4.26%,4 Jan 2020
4,Sergey Brin,13.0,Brin,44 years old,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Google,47.5 BUSD,0.0 millions USD,3,"330,529,481",4.26%,4 Jan 2020

In [38]:
def title(df, x):
    df[x] = df[x].str.title()
    return df

title(dffull,'name')
title(dffull,'last_name')
dffull.head()

,name,position,last_name,age,gender,country,image,source,worth,worth_change,rank_pop,population,weight_wpopulation,date
0,Warren Buffett,3.0,Buffett,87 years old,None,United States,https://specials-images.forbesimg.com/imageser...,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,3,"330,529,481",4.26%,4 Jan 2020
1,Charles Koch,8.0,Koch,82 years old,None,United States,https://specials-images.forbesimg.com/imageser...,Diversified ==> Koch Industries,60.0 BUSD,0.0 millions USD,3,"330,529,481",4.26%,4 Jan 2020
2,Michael Bloomberg,11.0,Bloomberg,76 years old,Male,United States,https://specials-images.forbesimg.com/imageser...,Media & Entertainment ==> Bloomberg LP,50.0 BUSD,0.0 millions USD,3,"330,529,481",4.26%,4 Jan 2020
3,Larry Page,12.0,Page,45 years old,None,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Google,48.8 BUSD,0.0 millions USD,3,"330,529,481",4.26%,4 Jan 2020
4,Sergey Brin,13.0,Brin,44 years old,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Google,47.5 BUSD,0.0 millions USD,3,"330,529,481",4.26%,4 Jan 2020

In [43]:
def del_str_patt(df, col, del_str, new_str):
    df[col] = df[col].apply(lambda x: re.sub(del_str, new_str, str(x)))
    return df

del_str_patt(dffull, 'country', '\([^()]*\)', '')
del_str_patt(dffull, 'age', '\s[^\d]+', '')
del_str_patt(dffull, 'worth', ' BUSD', '')
del_str_patt(dffull, 'worth_change', ' millions USD', '')
dffull.head()

,name,position,last_name,age,gender,country,image,source,worth,worth_change,rank_pop,population,weight_wpopulation,date
0,Warren Buffett,3.0,Buffett,87,None,United States,https://specials-images.forbesimg.com/imageser...,Finance and Investments ==> Berkshire Hathaway,84.0,-0.002,3,"330,529,481",4.26%,4 Jan 2020
1,Charles Koch,8.0,Koch,82,None,United States,https://specials-images.forbesimg.com/imageser...,Diversified ==> Koch Industries,60.0,0.0,3,"330,529,481",4.26%,4 Jan 2020
2,Michael Bloomberg,11.0,Bloomberg,76,Male,United States,https://specials-images.forbesimg.com/imageser...,Media & Entertainment ==> Bloomberg LP,50.0,0.0,3,"330,529,481",4.26%,4 Jan 2020
3,Larry Page,12.0,Page,45,None,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Google,48.8,0.0,3,"330,529,481",4.26%,4 Jan 2020
4,Sergey Brin,13.0,Brin,44,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Google,47.5,0.0,3,"330,529,481",4.26%,4 Jan 2020

In [44]:
def split(df, new_c2, old_c1, x):
    df[new_c2] = df[old_c1].str.split(x).str[1]
    df[old_c1] = df[old_c1].str.split(x).str[0]
    return df

#Apply to:
split(dffull, 'company', 'source', '==>')
dffull.head()

,name,position,last_name,age,gender,country,image,source,worth,worth_change,rank_pop,population,weight_wpopulation,date,company
0,Warren Buffett,3.0,Buffett,87,None,United States,https://specials-images.forbesimg.com/imageser...,Finance and Investments,84.0,-0.002,3,"330,529,481",4.26%,4 Jan 2020,Berkshire Hathaway
1,Charles Koch,8.0,Koch,82,None,United States,https://specials-images.forbesimg.com/imageser...,Diversified,60.0,0.0,3,"330,529,481",4.26%,4 Jan 2020,Koch Industries
2,Michael Bloomberg,11.0,Bloomberg,76,Male,United States,https://specials-images.forbesimg.com/imageser...,Media & Entertainment,50.0,0.0,3,"330,529,481",4.26%,4 Jan 2020,Bloomberg LP
3,Larry Page,12.0,Page,45,None,United States,https://specials-images.forbesimg.com/imageser...,Technology,48.8,0.0,3,"330,529,481",4.26%,4 Jan 2020,Google
4,Sergey Brin,13.0,Brin,44,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,47.5,0.0,3,"330,529,481",4.26%,4 Jan 2020,Google

In [59]:
dffull.info()
dffull['age'].value_counts().sorted_values()
#dffull['age'].astype(str).astype(int)


#[i for i in dffull['age']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798 entries, 0 to 797
Data columns (total 15 columns):
name                  798 non-null object
position              798 non-null float64
last_name             798 non-null object
age                   798 non-null object
gender                795 non-null object
country               798 non-null object
image                 798 non-null object
source                798 non-null object
worth                 798 non-null object
worth_change          798 non-null object
rank_pop              798 non-null object
population            798 non-null object
weight_wpopulation    798 non-null object
date                  798 non-null object
company               798 non-null object
dtypes: float64(1), object(14)
memory usage: 93.6+ KB

AttributeError: 'Series' object has no attribute 'sorted_values'