# Import libraries

In [22]:
!pip install pymysql
import pymysql
!pip install sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

Requirement already satisfied: pymysql in /home/cristina/miniconda3/envs/project1_env/lib/python3.6/site-packages (0.9.3)
Requirement already satisfied: sqlalchemy in /home/cristina/miniconda3/envs/project1_env/lib/python3.6/site-packages (1.3.11)

# Conneting data

In [23]:
DB_PATH = '../../../Ironhack-Module-1-Project-Mecaho/data/raw/cortega.db'
QUERY_DB = 'SELECT * FROM rank_info JOIN personal_info ON rank_info.id = personal_info.id JOIN business_info ON business_info.id = rank_info.id'
engine = create_engine(f'sqlite:///{DB_PATH}')
db = pd.read_sql_query(QUERY_DB, engine)
db.head()

,id,name,position,Unnamed: 0,id,lastName,age,Unnamed: 0,gender,country,image,id,Unnamed: 0,Source,worth,worthChange,realTimeWorth,realTimePosition
0,5948,jeff BEzos,1.0,52,5948,beZOS,54 years old,52,None,None,https://specials-images.forbesimg.com/imageser...,5948,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,None,1
1,7342,BILL GAtes,2.0,53,7342,GATEs,62 years old,53,M,None,https://specials-images.forbesimg.com/imageser...,7342,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,None,2
2,5447,warren BUFFETT,3.0,54,5447,bufFETT,87 years old,54,None,United States,https://specials-images.forbesimg.com/imageser...,5447,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,None,3
3,4420,bernARD ARNAULt,4.0,55,4420,aRNAULT,69 years old,55,M,France,https://specials-images.forbesimg.com/imageser...,4420,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,None,4
4,4071,mark ZUCKerberg,5.0,56,4071,zuckERBERg,1985,56,M,None,https://specials-images.forbesimg.com/imageser...,4071,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,None,5

## Database to CSV

In [24]:
db.to_csv('../../../Ironhack-Module-1-Project-Mecaho/data/raw/dfforb.csv',sep=',', index = False)