In [8]:
import pandas as pd
import re
import numpy as np

In [9]:
dfforb = pd.read_csv('../../../Ironhack-Module-1-Project-Mecaho/data/raw/dfforb1.csv')
dfpop = pd.read_csv('../../../Ironhack-Module-1-Project-Mecaho/data/raw/dfpop1.csv')

In [11]:
dffull = dfforb.merge(dfpop, left_on='country', right_on='country')
dffull.to_csv('../../../Ironhack-Module-1-Project-Mecaho/data/raw/dffull.csv',sep=',', index = False)
dffull

,id,name,position,Unnamed: 0,id.1,lastName,age,Unnamed: 0.1,gender,country,...,Source_x,worth,worthChange,realTimeWorth,realTimePosition,rank_pop,population,weight_wpopulation,date,Source_y
0,5447,warren BUFFETT,3.0,54,5447,bufFETT,87 years old,54,None,United States,...,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,NaN,3,3,"330,529,481",4.26%,4 Jan 2020,National population clock
1,4319,cHARLES koch,8.0,59,4319,kOCH,82 years old,59,None,United States,...,Diversified ==> Koch Industries,60.0 BUSD,0.0 millions USD,NaN,12,3,"330,529,481",4.26%,4 Jan 2020,National population clock
2,9535,michael BLOOMBERG,11.0,62,9535,blooMBErg,76 years old,62,Male,United States,...,Media & Entertainment ==> Bloomberg LP,50.0 BUSD,0.0 millions USD,NaN,11,3,"330,529,481",4.26%,4 Jan 2020,National population clock
3,8245,lARRY Page,12.0,63,8245,paGE,45 years old,63,None,United States,...,Technology ==> Google,48.8 BUSD,0.0 millions USD,NaN,9,3,"330,529,481",4.26%,4 Jan 2020,National population clock
4,1741,seRGEY Brin,13.0,64,1741,bRIN,44 years old,64,M,United States,...,Technology ==> Google,47.5 BUSD,0.0 millions USD,NaN,10,3,"330,529,481",4.26%,4 Jan 2020,National population clock
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,3808,eduardo HOCHSCHild,1689.0,1740,3808,HOCHSCHIld,54 years old,1740,None,Peru,...,Metals & Mining ==> mining,1.4 BUSD,-0.001 millions USD,NaN,1769,45,"32,131,400",0.414%,30 Jun 2019,National annual projection[45]
794,1579,eduarDO BELMONT ANDERSOn,1876.0,1927,1579,belmont ANderson,72 years old,1927,Male,Peru,...,Fashion & Retail ==> cosmetics,1.2 BUSD,nan millions USD,NaN,1911,45,"32,131,400",0.414%,30 Jun 2019,National annual projection[45]
795,1735,hoi kIN hong,1690.0,1741,1735,HOI,65 years old,1741,Male,Macau,...,Real Estate ==> real estate,1.4 BUSD,0.0 millions USD,NaN,1375,â€“,"676,100",0.00871%,30 Sep 2019,National quarterly estimate[153]
796,5485,gustavo CISneros,2023.0,2074,5485,cisnEROS,73 years old,2074,M,Venezuela,...,Media & Entertainment ==> media,1.1 BUSD,0.0 millions USD,NaN,2059,44,"32,219,521",0.415%,30 Jun 2019,National annual projection[44]
797,6022,sandor CSanyi,2024.0,2075,6022,CSANYI,65 years old,2075,None,Hungary,...,"Diversified ==> finance, real estate",1.1 BUSD,0.0 millions USD,NaN,1988,91,"9,772,756",0.126%,1 Jan 2019,National estimate[88]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 798 entries, 0 to 797
Data columns (total 23 columns):
id                    798 non-null int64
name                  798 non-null object
position              798 non-null float64
Unnamed: 0            798 non-null int64
id.1                  798 non-null int64
lastName              798 non-null object
age                   775 non-null object
Unnamed: 0.1          798 non-null int64
gender                795 non-null object
country               798 non-null object
image                 798 non-null object
id.2                  798 non-null int64
Unnamed: 0.2          798 non-null int64
Source_x              798 non-null object
worth                 798 non-null object
worthChange           798 non-null object
realTimeWorth         0 non-null float64
realTimePosition      798 non-null int64
rank_pop              798 non-null object
population            798 non-null object
weight_wpopulation    798 non-null object
date                  798 non-null object
Source_y              798 non-null object
dtypes: float64(2), int64(7), object(14)
memory usage: 926.7 KB